html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.logo {
    margin-bottom: 10px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.user-image {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    padding: 20px;
}

.welcome {
    text-align: center;
    margin-bottom: 30px;
}

.welcome h1 {
    color: #333;
}

.bouton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.bouton:hover {
    background-color: #555;
}

h2 {
    color: #333;
}

/*Card*/

.property-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.property-card {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    background: #E7E6E3;
}

.property-card:hover {
    transform: scale(1.05);
}

.property-image img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.property-actions {
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
}

.property-actions .user-big {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

}

.property-actions .user-biography {
    margin-top: 0;
} 


.agent-thumbnail {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden ;
}

.agent-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-big .user-name {
    font-weight: bold;
}

.rating {
    display: flex;
}

.star {
    font-size: 20px;
    color: black;
    margin: 0 2px;
}

.star.filled {
    color: red; 
}

.property-actions .user-biography {
    margin-left: 40px;
}

.publish-time {
    margin-top: 10px;
    color: #888;
}

.property-actions a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.property-actions a:hover {
    background-color: #555;
}

.property-others {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.property-others a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.property-others a:hover {
    background-color: #555;
}

.property-details {
    margin-bottom: 10px;
    border-radius: 25% 10% ;
    padding: 10px 10px 10px 20px;
    background: #F5F5DC;
}

.property-details p {
    margin: 5px 0;
}

.property-details .title {
    justify-content: center;
    padding-left: 15%;
}


/* Message Flash */
.flash-message {
    padding: 15px;
    border-radius: 5px;
    margin: 15px 0;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    width: 510px;
}

/* Message Flash de Succès */
.flash-message.success {
    background-color: #4CAF50; 
    color: white ;
}

.flash-message.info {
    background-color: #333; 
    color: white ;
} 

.flash-message.error {
    background-color: #f00f0f;
    color: white;
    
}

footer {
    background-color: #333;
    color: white ;
    text-align: center;
    padding: 10px;
    position: relative;
    margin-bottom: 0;
    width: 100% ;
    margin-top: 5px;  
    clear: both;

}

@media screen and (max-width: 425px) {
    header {
        padding: 10px;
    }

    .logo {
        margin-bottom: 0;
    }

    nav ul {
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) {
    .property-card {
        width: 48%;
    }
}

@media screen and (min-width: 1024px) {
    .property-card {
        width: 30%;
    }
}
