html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.logo {
    margin-bottom: 10px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.user-image {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    padding: 20px;
}

.welcome {
    text-align: center;
    margin-bottom: 30px;
}

.welcome h1 {
    color: #333;
}

.bouton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.bouton:hover {
    background-color: #555;
}

h2 {
    color: #333;
}

/*Style du Card*/

.property-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.property-card {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

.property-card:hover {
    transform: scale(1.05);
}

.property-image img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.property-details {
    margin-bottom: 10px;
}

.property-details p {
    margin: 5px 0;
}

.property-actions {
    text-align: center;
    position: relative;
}

.property-actions a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.property-actions a:hover {
    background-color: #555;
}


.agent-thumbnail {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    /*color: black;*/
}

.agent-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rating {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.star {
    font-size: 20px;
    color: black;
    margin: 0 2px;
}

.star.filled {
    color: red; /* Couleur pour les étoiles remplies */
}

.publish-time {
    margin-top: 10px;
    color: #888;
}


/* Style du Message Flash */
.flash-message {
    display: none;
    padding: 15px;
    border-radius: 5px;
    margin: 15px 0;
    text-align: center;
    font-weight: bold;
}

/* Style pour le Message Flash de Succès */
.flash-message.success {
    background-color: #4CAF50; /* Couleur verte */
    color: white;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 5px; /* Ajoute de l'espace en haut du pied de la page */
}

@media screen and (max-width: 425px) {
    header {
        padding: 10px;
    }

    .logo {
        margin-bottom: 0;
    }

    nav ul {
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) {
    .property-card {
        width: 48%;
    }
}

@media screen and (min-width: 1024px) {
    .property-card {
        width: 30%;
    }
}
