.tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 150px;
    transition: background-color 0.3s;
}

.tablinks.active {
    background-color: #ddd;
    border-bottom: 5px solid  #333;
}

.tablinks:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
}

.tabcontent.active {
    display: block;
}

                                    /***** Sub ****/
.subtablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.3s;
}

.subtablinks:hover {
    background-color: #ddd;
}


.subtabcontent {
    display: none;
    padding: 20px;
    border-top: none;
}


.subtabcontent.active {
    display: block;
    border-bottom: 5px solid  #333;
}


                            /******* SubSub  *******/

.subsubtablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.3s;
}

.subsubtablinks:hover {
    background-color: #ddd;
}

/* Style pour le contenu des onglets */
.subsubtabcontent {
    display: none;
    padding: 20px;
    border-top: none;
}

/* Afficher le contenu de l'onglet actif */
.subsubtabcontent.active {
    display: block;
    border-bottom: 5px solid  #333;
}